* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body.light {
   background: #ffffff !important;
   color: #000000 !important;
}

body.dark {
   background: #1e1e1e !important;
   color: #ffffff !important;
}


